[submodule "CTFd/themes/sigpwny-core-beta"]
	path = CTFd/themes/sigpwny-core-beta
	url = git@github.com:sigpwny/sigpwny-core-beta.git
[submodule "CTFd/plugins/ctfd-discord-webhook-plugin"]
	path = CTFd/plugins/ctfd-discord-webhook-plugin
	url = git@github.com:sigpwny/ctfd-discord-webhook-plugin.git
[submodule "CTFd/plugins/ctfd-cryptohack-plugin"]
	path = CTFd/plugins/ctfd-cryptohack-plugin
	url = git@github.com:sigpwny/ctfd-cryptohack-plugin.git
[submodule "CTFd/plugins/--force"]
	path = CTFd/plugins/--force
	url = git@github.com:sigpwny/ctfd-collaboration-plugin.git
[submodule "CTFd/plugins/ctfd-collaboration-plugin"]
	path = CTFd/plugins/ctfd-collaboration-plugin
	url = git@github.com:sigpwny/ctfd-collaboration-plugin.git
